<div class='course-display-content'>
  <h1><%= chapter.name %></h1>
  <p class="large-paragraph"><%= chapter.description %></p>
  <h3>Ce cours comprend <%= pluralize(chapter.lessons.length, 'leçon') %>:</h3>
</div>
