<div class='course-display-content'>
  <h1><%= lesson.title %></h1>
  <% lesson.content.split('&&').each do |par| %>
    <p class="large-paragraph"><%= par %></p>
  <% end %>
  <div class="btn-lesson-next" data-action='click->tabs#nextLesson' data-tabs-index-param="<%= index + 1 %>">
    <%=
      link_to "Next lesson",
      next_course_classroom_path(classroom.course, classroom, lesson: lesson.id),
      data: { tabs_target: "link" },
      class: 'btn-secondary-fill btn-lesson'
    %>
  </div>
</div>
