.about-content {
  display: flex;
  justify-content: center;
}

.display-cards-about {
  display: flex;
  justify-content: space-between;
}

.block-about {
  margin: 5rem 0;
}

.block-text-about {
  width: 70%;
  line-height: 2rem;
}

.block-img-about {
  width: 50%;
  img {
    width: 100%;
    height: 310px;
    object-fit: cover;
  }
}

.academint-block {
  display: flex;
}

.about-btn{
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top:40px;
}
