// Specific CSS for your home-page
.home-content {
  display: flex;
  justify-content: center;
}

.display-cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.block-home {
  margin: 7rem 0;
}

.block-text-home {
  width: 60%;
  line-height: 1.5rem;
}

.block-img-home {
  width: 40%;
  img {
    width: 65%;
    object-fit: cover;
  }
}

.nft-block {
  display: flex;
}
