.quizz-container {
  width: 50%;
  margin: auto;
  padding: 1.5rem;
  background-color: $neutral-100-violet;
  border-radius: 20px;
  p {
    color: $neutral-1000;
  }
  box-shadow: $elevation-200;
}

.answers-quizz {
  margin: 0 0 1.5rem 0;
  display: inline-block;
}

.input-quizz {
  position: absolute;
  transform: scale(0);
}

.input-quizz + label {
  cursor: pointer;
  display: inline-block;
  padding: 5px 20px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  color: $primary-violet;
  background-color: #e1e0ff;
  border: 1px solid $primary-violet;
}

.input-quizz:checked + label {
  color: $neutral-0;
  background-color: $primary-violet;
}
