.spacing-quizz {
  height: 2rem;
}

.quizz-container {
  margin-top: 2rem;
  width: 60%;
  margin: auto;
  padding: 1.5rem;
  background-color: $primary-violet;
  border-radius: 20px;
  p {
    color: $neutral-0;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 2.5rem;
    color: $neutral-0;
  }
  box-shadow: $elevation-200;
}

.answers-quizz {
  margin: 0 0 1.5rem 0;
  display: inline-block;
}

.input-quizz {
  position: absolute;
  transform: scale(0);
}

.input-quizz + label {
  cursor: pointer;
  display: inline-block;
  padding: 5px 20px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  color: $neutral-800;
  background-color: $neutral-100;
  border: 1px solid $neutral-800;
}

.input-quizz:checked + label {
  color: $neutral-0;
  background-color:   $secondary-dark;
}

.submit-quizz {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
