.course {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 70px;
}

.course-summary {
  width: 30%;
}

.course-summary-content {
  padding-right: 5rem;
  p {
      &:hover {
      color: $primary-violet-hover;
    }
  }
  h5 {
    margin: 0.5rem 0;
  }
}

.chapter-name {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.lesson-title {
  padding-left: 8px;
}

.course-display {
  min-height: 90vh;
  width: 70%;
  img {
    width: 100%;
    height: 460px;
    object-fit: cover;
    border-radius: 20px;
  }
}

.course-display-content {
 padding: 10px;
}

.selected-tab {
  font-weight: 700;
  color: $primary-violet;
}

.course-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 0;
  border-top: 1px solid $neutral-200;
  background-color: $neutral-100-violet;
  p {
    margin: 0;
  }
}

.container-footer-course {
  text-align: right;
}

.tab-font {
  font-size: 16px;
}

.next-lesson {
  text-decoration: none;
  p {
    color: $primary-violet;
  }
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.disabled-link {
  color: $neutral-300;
}

.ongoing-lesson-classroom {
  color: $orange-100;
}

.done-lesson-classroom {
  color: $green-100;
}

.active-tab-lesson {
  color: $primary-violet;
}

.lesson-tabs {
  display: flex;
  align-items: center;
  i {
    margin-right: 0.5rem;
  }
  p {
    margin: 0.5rem 0;
  }
}

.justify-text {
  text-align: justify;
}
