<div class="banner">
  <div class="container">
    <div class="banner-text">
    <div>
      <h1 class="hero">Certifiez vos compétences sur la blockchain</h1>
      <p class="large-paragraph">Obtenez de nouvelles compétences avec Academint et certifiez-les sur la blockchain</p>
      <%= link_to "En savoir plus", about_path, class: 'btn-main'%>
    </div>
    </div>
    <div class="img-banner">
      <%= image_tag "banner_img.svg", alt: "text" %>
    </div>
  </div>
</div>
