<div class="banner">
  <div class="container">
    <div class="banner-content-container">
      <div class="banner-text-container">
        <h1 class="hero">Certifiez vos compétences sur la Blockchain</h1>
        <p class="large-paragraph">Obtenez de nouvelles compétences avec Academint et certifiez les sur la blockchain</p>
        <a href="#" class="btn-main">En savoir plus</a>
      </div>
    </div>
  </div>
</div>
