<% if notice %>
  <div class="alert" data-controller="alert" data-alert-target="alert">
    <%= notice %>
    <a type="button" class="btn-close" data-action='click->alert#close'>
      <i class="fa-solid fa-xmark"></i>
    </a>
  </div>
<% end %>
<% if alert %>
  <div class="alert" data-controller="alert" data-alert-target="alert">
    <%= alert %>
    <a type="button" class="btn-close" data-action='click->alert#close' >
      <i class="fa-solid fa-xmark"></i>
    </a>
  </div>
<% end %>
