<footer>
  <div class="container">
    <div class="container-footer">
      <div class="content-footer">
        <h3>Mon compte</h3>
        <ul>
          <li><a href="#">Mon profil</a></li>
          <li><a href="#">Mes cours</a></li>
          <li><a href="#">Mes certificats</a></li>
          <li><a href="#">Watchlist</a></li>
        </ul>
      </div>
      <div class="content-footer">
        <h3>Ressources</h3>
        <ul>
          <li><a href="#">Certificats Academint</a></li>
          <li><a href="#">Portefeuille numérique</a></li>
          <li><a href="#">Ressources externes</a></li>
        </ul>
      </div>
      <div class="content-footer">
        <h3>Devenir enseignant</h3>
        <ul>
          <li><a href="#">Nos outils</a></li>
          <li><a href="#">Astuces création de contenu</a></li>
          <li><a href="#">Pourquoi choisir Academint ?</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
