<div class='course-display-content'>
  <h1><%= lesson.title %></h1>
  <% if lesson.media == "video" %>
    <%= cl_video_tag(lesson.content, :controls => true, :width=>940) %>
  <% elsif lesson.media == "texte" %>
    <div class="trix-content">
      <%= lesson.enriched_content %>
    </div>
  <% else %>
    <p class="medium-paragraph justify-text"><%= lesson.content %></p>
  <% end %>
</div>
