<nav class="navbar">
  <div class="container container-navbar">
    <a href="/" id="logo">Academint</a>
    <div>
      <%= render "shared/search_bar" %>
    </div>
    <ul>
      <li><a href="#" class="btn-secondary">Enseigner</a></li>
      <li><a href="#" class="btn-secondary">Mes cours</a></li>
      <li><a href="#" class="btn-main">Se connecter</a></li>
    </ul>
  </div>
</nav>
