<div class="banner">
  <div class="container">
    <div class="banner-text">
    <div>
      <h1 class="hero">Qui sommes-nous?</h1>
      <p class="large-paragraph">Academint est une plateforme collaborative d'éducation dont la mission est de rendre accessible l’apprentissage Web3 grâce à la blockchain. </p>
      <a href="#" class="btn-secondary-fill">Apprenez maintenant</a>
    </div>
    </div>
    <div class="img-banner">
      <%= video_tag "https://res.cloudinary.com/dunslpwim/video/upload/v1662025766/development/about-banner-pic_t9ylgd.mp4", alt: "about" %>
    </div>
  </div>
</div>
  <div class="container">
    <div class='block-about'>
      <div class='block-about academint-block'>
        <div class="block-img-about">
          <%= image_tag 'academint.svg', alt: "Une étudiante qui travaille" %>
        </div>
        <div class="block-text-about">
          <h2>Qu'est ce qu' Academint ?</h2>
          <p class="large-paragraph">
             Les utilisateurs peuvent aussi bien créer du contenu éducatif pour le partager auprès de notre communauté, que suivre des cours en ligne. Les formations Academint bénéficient d’une certification sous forme de NFT pour valoriser votre expertise sur le marché de l’emploi.
          </p>
        </div>
      </div>
    </div>
  </div>
<div class="banner-middle">
 <div class="container">
  <div class="banner-middle-main-content">
    <p class="large-paragraph"> Accès rapide </p>
    <div><a href="#" class="btn-secondary-fill">Apprenez maintenant</a></div>
    <div><a href="#" class="btn-secondary-fill">Devenir enseignant</a></div>
    <div><a href="#" class="btn-secondary-fill">Page d'acceuil</a></div>
  </div>
 </div>
</div>
