<div class="banner">
  <div class="container">
    <div class="banner-text">
    <div>
      <h1 class="hero">Qui sommes nous?</h1>
      <p class="large-paragraph">Academint est une plateforme collaborative d'éducation dont la mission est de rendre accessible l’apprentissage Web3 grâce à la blockchain. </p>
      <a href="#" class="btn-main">Je m'inscris</a>
    </div>
    </div>
    <div class="img-banner">
      <%= image_tag("info") %>
    </div>
  </div>
</div>
