<div class="container" data-controller="wallet">
<button class="btn-main clickable" data-action="click->wallet#connectWallet" data-wallet-target="connect">Connectez votre portefeuille</button>
<button class="btn-main clickable d-none" data-action="click->wallet#signMessage" data-wallet-target="message">Signe le message</button>
</div>
