.badge {
  padding: 5px 20px;
  font-weight: 600;
  font-size: 14px;
  border-radius: $border-radius-main;
  border: none;
}

.badge-beginner {
  color: $green-300;
  background-color: $green-0;
}

.badge-intermediate {
  color: $orange-200;
  background-color: $orange-0;
}

.badge-expert {
  color: $red-200;
  background-color: $red-0;
}
