.badge {
  padding: 5px 20px;
  font-weight: 600;
  font-size: 14px;
  border-radius: $border-radius-search;
  background-color: transparent;
}

.badge-beginner {
  color: $green-200;
  border: 1px solid $green-200;
}

.badge-intermediate {
  color: $orange-200;
  border: 1px solid $orange-200;
}

.badge-expert {
  color: $red-200;
  border: 1px solid $red-200;
}
