// Card homepage

.card-main {
  height: 365px;
  width: 365px;
  box-shadow: $elevation-100;
  border-radius: $border-radius-main;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &:hover {
    h3 {
      color: $primary-violet-hover
    }
  box-shadow: $elevation-500;
  }
}
.link-card {
  text-decoration: none;
}

.card-main-img {
  height: 50%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card-main-content {
  height: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $neutral-100-violet;
  padding: 1rem;
  transition: 0.2 ease-in-out;
  h3 {
    margin: 0;
    color: $primary-violet;
  }
}

.card-main-bottom {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-author {
  display: flex;
  align-items: center;
  p {
    padding-left: 0.5rem;
    color: $primary-violet;
  }
}

// Card search

.card-horizontal {
  display: flex;
  height: 160px;
  width: 100%;
  margin: 1.5rem 0;
  background-color: $neutral-100-violet;
  text-decoration: none;
  box-shadow: $elevation-100;
}

.img-card-horizontal {
  width: 25%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.content-card-horizontal {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  h3 {
    margin: 0;
  }
  p {
    margin: 0.5rem 0;
  }
}

.content-bottom-card-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .label {
    color: $primary-violet;
    padding-left: 0.5rem;
    padding-right: 1rem;
  }
}

// Cards dashboard

.dashboard-card {
  background-color: $primary-violet;
  border-radius: $border-radius-main;
  box-shadow: $elevation-100;
  padding: 1rem;
  transition: 0.2 ease-in-out;
  h3 {
    color: $neutral-0;
    margin: 0;
  }
  p {
    color: $neutral-0;
  }
  &:hover {
    background-color: $primary-violet-hover;
  }
}
