footer {
  background-color: $neutral-100-violet;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  li {
    list-style: none;
    margin: 10px 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: $neutral-1000;
    font-weight: 400;
  }
}

.content-footer {
  padding: 0 75px;
}
