.navbar {
  width: 100%;
  border-bottom: 1px solid $neutral-100;
  background-color: rgba($color: white, $alpha: 0.75);
  backdrop-filter: $backdrop-blur;
  position: sticky;
  top: 0;
  padding: 15px 0;
  z-index: 1000;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    list-style: none;
  }
  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}
